@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

body{
    font-family: "Lexend Deca", sans-serif;
}

.containerHome{
    background: linear-gradient(120deg,#235c49,#41c398);
}

.containerHome-title{
    font-family: 'Permanent Marker', cursive;
}

.containerHome-content{
    background: linear-gradient(120deg,#8a00c4,#43035f);
}

.containerHome-content-imgBot{
    animation: move 2.5s ease-in-out infinite alternate;
}

@keyframes move{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(15px);
    }
}