@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

body{
    font-family: "Lexend Deca", sans-serif;
}

.containerHome{
    background: linear-gradient(120deg,#235c49,#41c398);
}

.containerHome-title{
    font-family: 'Permanent Marker', cursive;
}

.containerHome-content{
    background: linear-gradient(120deg,#8a00c4,#43035f);
}

.containerHome-content-imgBot{
    animation: move 2.5s ease-in-out infinite alternate;
}

.containerLogin{
    background: linear-gradient(120deg,#8a00c4,#43035f);
}

.containerDashboard{
    background: linear-gradient(120deg,#235c49,#41c398);
}

@keyframes move{
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(15px);
    }
}

.myScroll .ps__thumb-y {
  background-color: #fff;
  border-radius: 10px;
}

.myScroll .ps__rail-y {
  background-color: rgba(255, 255, 255, 0.15); 
}